<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Add new Chat </h2>
    <form method="post" action="/chats">
        <input placeholder="Who is sending" name="from"> <br><br>
        <input placeholder="who is reciveing" name="to"> <br> <br>
        <textarea name="message" >write your message</textarea>  <br> <br>
        <button>create </button>
    </form>
</body>
</html>